# NoteBook for the Summer and Winter Games (Medals and Medalists)
This is the notebook for the medal winners. Then files where given to us by the Olympic Study Center

In [1]:
import os.path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
%matplotlib inline
from bs4 import BeautifulSoup
import webbrowser
import urllib.request
from lxml import html
import zipfile
import re
import string
import sys, os

In [2]:
# Ensure the file exists
if not os.path.exists( r"..\..\data\raw\Study_Center\SummerGames_Medals_Medalists.xlsx" ):
    print("Missing dataset file")
if not os.path.exists( r"..\..\data\raw\Study_center\WinterGames_Medals_Medalists.xlsx" ):
    print("Missing dataset file")

In [3]:
# Getting the individual sheets fromm each xlsx
xls1 = pd.ExcelFile(r'..\..\data\raw\Study_center\SummerGames_Medals_Medalists.xlsx')
sumdf = pd.read_excel(xls1, 'Medalists')
xls2 = pd.ExcelFile(r'..\..\data\raw\Study_center\WinterGames_Medals_Medalists.xlsx')
windf = pd.read_excel(xls2, 'Medallists')

# Editing the Summer dataFrame first

In [4]:
# Dropping Noc is active field, rank field will be dropped later 
sumdf = sumdf.drop(sumdf.columns[[11]], axis=1)

In [5]:
# creating summer and winter games bolleans for the summer df
sumdf['Summer']= True
sumdf['Winter']= False

In [6]:
sumdf.rename(columns={'Names': 'Ath_Name'}, inplace=True)

In [7]:
# looking at original df
sumdf.head(5)

,Year,City,Ath_Name,NOC,Gender,Sport,Discipline,Event,EventGender,Rank,Medal,Summer,Winter
0,1960,Rome,"WEBSTER, Robert",USA,Men,Aquatics,Diving,10m platform,M,1,Gold,True,False
1,1960,Rome,"TOBIAN, Gary",USA,Men,Aquatics,Diving,10m platform,M,2,Silver,True,False
2,1960,Rome,"PHELPS, Brian",GBR,Men,Aquatics,Diving,10m platform,M,3,Bronze,True,False
3,1960,Rome,"KRÄMER, Ingrid",EUA,Women,Aquatics,Diving,10m platform,W,1,Gold,True,False
4,1960,Rome,"MYERS-POPE, Paula Jean",USA,Women,Aquatics,Diving,10m platform,W,2,Silver,True,False

# Then Editing the Winter dataframe

In [8]:
# renaming the gender column 
windf.rename(columns={'ParticipantsGender': 'Gender'}, inplace=True)
# renaming the name column 
windf.rename(columns={'Participant': 'Ath_Name'}, inplace=True)

In [9]:
# Dropping the continent field because it's not in the summer df and isn't that useful  
windf = windf.drop(windf.columns[[6]], axis=1)

In [10]:
# creating summer and winter games bolleans for both dfs
windf['Summer']= False
windf['Winter']= True

In [11]:
# changing the gender of male and female to M and F
windf['Gender'] = np.where(windf['Gender']=='Men', 'M', 'F')

In [12]:
windf.head(5)

,Year,City,Sport,Discipline,Ath_Name,Gender,NOC,Event,EventGender,Medal,Summer,Winter
0,1960,Squaw Valley,Biathlon,Biathlon,"PRIVALOV, Aleksandr",M,URS,20km,Men,Bronze,False,True
1,1960,Squaw Valley,Biathlon,Biathlon,"LESTANDER, Klas",M,SWE,20km,Men,Gold,False,True
2,1960,Squaw Valley,Biathlon,Biathlon,"TYRVÄINEN, Antti",M,FIN,20km,Men,Silver,False,True
3,1960,Squaw Valley,Ice Hockey,Ice Hockey,"ALEKSANDROV, Veniamin",M,URS,ice hockey,Men,Bronze,False,True
4,1960,Squaw Valley,Ice Hockey,Ice Hockey,"ALMETOV, Aleksandr",M,URS,ice hockey,Men,Bronze,False,True

# Removing Null columns and or useless data

# Winter DF
The winter df as 11 null rows in the Noc field, these same rows also have 'pending' values for the Ath_name. 
So for now I will remove them.

In [13]:
# checking number of null values 
windf.isnull().sum()

Year            0
City            0
Sport           0
Discipline      0
Ath_Name        0
Gender          0
NOC            11
Event           0
EventGender     0
Medal           0
Summer          0
Winter          0
dtype: int64

In [14]:
# Removing these useless rows 
windf = windf[windf.Ath_Name != 'pending']

In [15]:
# there no more null values 
windf.isnull().sum()

Year           0
City           0
Sport          0
Discipline     0
Ath_Name       0
Gender         0
NOC            0
Event          0
EventGender    0
Medal          0
Summer         0
Winter         0
dtype: int64

# Summer DF
The summer df as 14 null rows for Noc the name of the athletes for these rows contain values such as 'pending / decision to be confirmed'
so I'll remove them too for the time being.

In [16]:
# checking number of null values  
sumdf.isnull().sum()

Year            0
City            0
Ath_Name        0
NOC            14
Gender          0
Sport           0
Discipline      0
Event           0
EventGender     0
Rank            0
Medal           1
Summer          0
Winter          0
dtype: int64

In [17]:
# examining the rows with some field null values 
sumdf[sumdf['NOC'].isnull()]

,Year,City,Ath_Name,NOC,Gender,Sport,Discipline,Event,EventGender,Rank,Medal,Summer,Winter
17811,2008,Beijing,pending / decision to be confirmed,NaN,Men,Athletics,Athletics,4x100m relay,M,1,Gold,True,False
17812,2008,Beijing,pending / decision to be confirmed,NaN,Men,Athletics,Athletics,4x100m relay,M,1,Gold,True,False
17813,2008,Beijing,pending / decision to be confirmed,NaN,Men,Athletics,Athletics,4x100m relay,M,1,Gold,True,False
17814,2008,Beijing,pending / decision to be confirmed,NaN,Men,Athletics,Athletics,4x100m relay,M,1,Gold,True,False
17899,2008,Beijing,pending / decision to be confirmed,NaN,Women,Athletics,Athletics,heptathlon,W,3,Bronze,True,False
17910,2008,Beijing,pending / decision to be confirmed,NaN,Women,Athletics,Athletics,javelin throw,W,2,Silver,True,False
17916,2008,Beijing,pending / decision to be confirmed,NaN,Women,Athletics,Athletics,long jump,W,2,Silver,True,False
17940,2008,Beijing,pending / decision to be confirmed,NaN,Women,Athletics,Athletics,triple jump,W,2,Silver,True,False
17941,2008,Beijing,pending / decision to be confirmed,NaN,Women,Athletics,Athletics,triple jump,W,3,Bronze,True,False
19351,2008,Beijing,pending / decision to be confirmed,NaN,Women,Weightlifting,Weightlifting,69kg,W,1,Gold,True,False
19354,2008,Beijing,pending / decision to be confirmed,NaN,Women,Weightlifting,Weightlifting,75kg,W,1,Gold,True,False
19926,2012,London,pending / decision to be confirmed,NaN,Women,Athletics,Athletics,800m,W,1,Gold,True,False
19946,2012,London,pending / decision to be confirmed,NaN,Women,Athletics,Athletics,heptathlon,W,3,Bronze,True,False
21291,2012,London,pending / decision to be confirmed,NaN,Women,Weightlifting,Weightlifting,63kg,W,1,Gold,True,False

In [18]:
# removing these useless rows 
sumdf = sumdf[sumdf.Ath_Name != 'pending / decision to be confirmed']

In [19]:
# checking for any more null values 
sumdf[sumdf['Medal'].isnull()]

,Year,City,Ath_Name,NOC,Gender,Sport,Discipline,Event,EventGender,Rank,Medal,Summer,Winter
19825,2012,London,"TOMASHOVA, Tatyana",RUS,Women,Athletics,Athletics,1500m,W,2,NaN,True,False

There is one more null value for medal however this can be solved with the use of the rank column. 
The rank field of this row is 2 so the medal the athlete won is sliver.

In [20]:
sumdf.loc[19825, 'Medal'] = 'Silver'

In [21]:
# Now we can remove the rank field because it is redudant 
sumdf = sumdf.drop(sumdf.columns[[9]], axis=1)

# Joining the Summer and Winter dataFrames

In [22]:
# pd.concat joins the tables together and ignore index to ensure that there are no repeat indexes
df = pd.concat([sumdf, windf], ignore_index=True)

In [23]:
# Changing the gneder event and city field names 
df.rename(columns={'EventGender': 'Event_Gender'}, inplace=True)
df.rename(columns={'City': 'Host_City'}, inplace=True)

In [24]:
df.head(3)

,Ath_Name,Host_City,Discipline,Event,Event_Gender,Gender,Medal,NOC,Sport,Summer,Winter,Year
0,"WEBSTER, Robert",Rome,Diving,10m platform,M,Men,Gold,USA,Aquatics,True,False,1960
1,"TOBIAN, Gary",Rome,Diving,10m platform,M,Men,Silver,USA,Aquatics,True,False,1960
2,"PHELPS, Brian",Rome,Diving,10m platform,M,Men,Bronze,GBR,Aquatics,True,False,1960

In [25]:
df.to_csv(r"..\..\data\prep\Games\Games-Unedited-500.csv", index=False)
# Ensure the file exists

In [26]:
# Ensure the file exists
if not os.path.exists(r"..\..\data\prep\Games\Games-Unedited-500.csv" ):
    print("Missing dataset file")

# Adding Fields to the Olympic DataFrame 
* The first field is getting rid of the current medal field and adding Gold, Sliver and Bronze count fields and then I'll remove duplicate rows of the same athlete and olympic year. 
* Second I'll add a total medal column. 
* Finally I'll add a home advantage column along with a field for the country the games was hosted that year.

In [27]:
df.head(3)

,Ath_Name,Host_City,Discipline,Event,Event_Gender,Gender,Medal,NOC,Sport,Summer,Winter,Year
0,"WEBSTER, Robert",Rome,Diving,10m platform,M,Men,Gold,USA,Aquatics,True,False,1960
1,"TOBIAN, Gary",Rome,Diving,10m platform,M,Men,Silver,USA,Aquatics,True,False,1960
2,"PHELPS, Brian",Rome,Diving,10m platform,M,Men,Bronze,GBR,Aquatics,True,False,1960

In [28]:
# Addeing gold, silver and bonze medal count fields 
df['Gold']= 0
df['Silver']= 0
df['Bronze']= 0

In [29]:
# Adding in values for the medal type fields based on the Medal won in the 'Medal' field
df['Bronze'] = np.where(df['Medal']=='Bronze', 1, 0)
df['Silver'] = np.where(df['Medal']=='Silver', 1, 0)
df['Gold'] = np.where(df['Medal']=='Gold', 1, 0)

In [30]:
df.head(4)

,Ath_Name,Host_City,Discipline,Event,Event_Gender,Gender,Medal,NOC,Sport,Summer,Winter,Year,Gold,Silver,Bronze
0,"WEBSTER, Robert",Rome,Diving,10m platform,M,Men,Gold,USA,Aquatics,True,False,1960,1,0,0
1,"TOBIAN, Gary",Rome,Diving,10m platform,M,Men,Silver,USA,Aquatics,True,False,1960,0,1,0
2,"PHELPS, Brian",Rome,Diving,10m platform,M,Men,Bronze,GBR,Aquatics,True,False,1960,0,0,1
3,"KRÄMER, Ingrid",Rome,Diving,10m platform,W,Women,Gold,EUA,Aquatics,True,False,1960,1,0,0

Now I want to remove rows with the same athlete name from the same olympics. So I'll have to count there medals and make it into a single row.

** This will make the event name and gender fields reduntant as we are merging all of the athletes medls for a given olympics. **

In [31]:
# Here 'Ive created a Df with all the summed medals of athletes from a given olympics 
athletes_medals = df.groupby(['Ath_Name', 'Year'])[["Gold", "Silver", "Bronze"]].sum()
athletes_medals.head(3)

                       Gold  Silver  Bronze
Ath_Name         Year
AAHLBERG, Mats   1980     0       0       1
AAHLEN, Thomas   1984     0       0       1
AALAND, Per Knut 1980     0       1       0

In [32]:
df = df.drop(df.columns[[4]], axis=1)

In [33]:
df.columns

Index(['Ath_Name', 'Host_City', 'Discipline', 'Event', 'Gender', 'Medal',
       'NOC', 'Sport', 'Summer', 'Winter', 'Year', 'Gold', 'Silver', 'Bronze'],
      dtype='object')

Now what I want to do is join this athlete datafrmae with their summed medals by the given games with the original datframe.

In [34]:
# I'll set the index of the original dataframe to athlete and year as well so I can join it with the summed medal dataframe
df = df.set_index(['Ath_Name', 'Year'])

In the cell below I'm joining all the big dataframes 'df' columns to the 'athletes_medals' dataframe, excluding the columns from the big datframe 'df' that are already in the 
'athelte_medals' dataframe. This is so only the athlete rows with the summed medals are added. '

In [35]:
 df = df[['Host_City', 'Discipline','Event', 'Gender', 'NOC', 'Sport', 'Summer', 'Winter', 'Medal' ]].join(athletes_medals)

Some duplicate rows remain of some athletes from the same olympics like the example below. 
So we will remove them next.

In [36]:
# Resetting index to show an example of duplicates
df = df.reset_index()
df.loc[df['Ath_Name'] == 'AAMODT, Kjetil Andre']

,Ath_Name,Year,Host_City,Discipline,Event,Gender,NOC,Sport,Summer,Winter,Medal,Gold,Silver,Bronze
4,"AAMODT, Kjetil Andre",1992,Albertville,Alpine Skiing,giant slalom,M,NOR,Skiing,False,True,Bronze,1,0,1
5,"AAMODT, Kjetil Andre",1992,Albertville,Alpine Skiing,super-G,M,NOR,Skiing,False,True,Gold,1,0,1
6,"AAMODT, Kjetil Andre",1994,Lillehammer,Alpine Skiing,alpine combined,M,NOR,Skiing,False,True,Silver,0,2,1
7,"AAMODT, Kjetil Andre",1994,Lillehammer,Alpine Skiing,downhill,M,NOR,Skiing,False,True,Silver,0,2,1
8,"AAMODT, Kjetil Andre",1994,Lillehammer,Alpine Skiing,super-G,M,NOR,Skiing,False,True,Bronze,0,2,1
9,"AAMODT, Kjetil Andre",2002,Salt Lake City,Alpine Skiing,alpine combined,M,NOR,Skiing,False,True,Gold,2,0,0
10,"AAMODT, Kjetil Andre",2002,Salt Lake City,Alpine Skiing,super-G,M,NOR,Skiing,False,True,Gold,2,0,0
11,"AAMODT, Kjetil Andre",2006,Turin,Alpine Skiing,super-G,M,NOR,Skiing,False,True,Gold,1,0,0

In [37]:
# Setting the index back to athlete and year to allow for removal
df = df.set_index(['Ath_Name', 'Year'])
# Now removing duplicates based on the index, athlete name and year
df = df[~df.index.duplicated(keep='first')]

In [38]:
# resetting the df index
df = df.reset_index()

In [39]:
df.loc[df['Ath_Name'] == 'AAMODT, Kjetil Andre']

,Ath_Name,Year,Host_City,Discipline,Event,Gender,NOC,Sport,Summer,Winter,Medal,Gold,Silver,Bronze
4,"AAMODT, Kjetil Andre",1992,Albertville,Alpine Skiing,giant slalom,M,NOR,Skiing,False,True,Bronze,1,0,1
5,"AAMODT, Kjetil Andre",1994,Lillehammer,Alpine Skiing,alpine combined,M,NOR,Skiing,False,True,Silver,0,2,1
6,"AAMODT, Kjetil Andre",2002,Salt Lake City,Alpine Skiing,alpine combined,M,NOR,Skiing,False,True,Gold,2,0,0
7,"AAMODT, Kjetil Andre",2006,Turin,Alpine Skiing,super-G,M,NOR,Skiing,False,True,Gold,1,0,0

Adding the Total medal field

In [40]:
# filling total field with values 
df['Total_Medals'] = df['Gold'] + df['Silver'] + df['Bronze']

# Creating the home advantage field
First I'll create a dictionary with the host city as the keys and host country as values. Then I can compare the host cities respective value (the country) that an athlete played in with that athletes Noc. If the countires are the same home advantage is true otherwise false.

In [41]:
# Populating the country-city dictionary
cDict = { 'Albertville': 'FRA', 'Lillehammer': 'NOR', 'Salt Lake City': 'USA', 'Turin': 'ITA', 'Squaw Valley': 'USA',
        'Beijing': 'CHN', 'Los Angeles': 'USA', 'Athens': 'GRC', 'London': 'UK', 'Sydney': 'AUS', 'Atlanta': 'USA', 'Munich': 'DEU',
        'Calgary': 'CAN', 'Barcelona': 'ESP', 'Seoul': 'KOR', 'Grenoble': 'FRA', 'Moscow': 'RUS', 'Nagano': 'JPN', 'Rome': 'ITA',
        'Lake Placid': 'USA', 'Tokyo': 'JPN', 'Mexico': 'MEX', 'Vancouver': 'CAN', 'Innsbruck': 'AUS', 'Sochi': 'RUS', 'Montreal': 'CAN',
        'Sarajevo': 'BIH', 'Sapporo': 'JPN', 'Rio': 'BRA', 'Barcelone': 'ESP', 'Montréal': 'CAN', 'PyeongChang': 'KOR'}

In [42]:
# Quick for loop to populate the home_adv field 
for x, row in df.iterrows():
    city = df['Host_City'].iloc[x]
    homecountry = df['NOC'].iloc[x]
    
    # Adding another field for the host country 
    df.loc[x, 'Host_Country'] = cDict[city]

    # if the athletes home country is the same as the host country adv is true else false 
    if(homecountry == cDict[city]):
        df.loc[x, 'Home_Adv'] = True
    else:
        df.loc[x, 'Home_Adv'] = False

In [43]:
df

,Ath_Name,Year,Host_City,Discipline,Event,Gender,NOC,Sport,Summer,Winter,Medal,Gold,Silver,Bronze,Total_Medals,Host_Country,Home_Adv
0,"AAHLBERG, Mats",1980,Lake Placid,Ice Hockey,ice hockey,M,SWE,Ice Hockey,False,True,Bronze,0,0,1,1,USA,False
1,"AAHLEN, Thomas",1984,Sarajevo,Ice Hockey,ice hockey,M,SWE,Ice Hockey,False,True,Bronze,0,0,1,1,BIH,False
2,"AALAND, Per Knut",1980,Lake Placid,Cross Country Skiing,4x10km relay,M,NOR,Skiing,False,True,Silver,0,1,0,1,USA,False
3,"AALTONEN, Juhamatti",2014,Sochi,Ice Hockey,ice hockey,M,FIN,Ice Hockey,False,True,Bronze,0,0,1,1,RUS,False
4,"AAMODT, Kjetil Andre",1992,Albertville,Alpine Skiing,giant slalom,M,NOR,Skiing,False,True,Bronze,1,0,1,2,FRA,False
5,"AAMODT, Kjetil Andre",1994,Lillehammer,Alpine Skiing,alpine combined,M,NOR,Skiing,False,True,Silver,0,2,1,3,NOR,True
6,"AAMODT, Kjetil Andre",2002,Salt Lake City,Alpine Skiing,alpine combined,M,NOR,Skiing,False,True,Gold,2,0,0,2,USA,False
7,"AAMODT, Kjetil Andre",2006,Turin,Alpine Skiing,super-G,M,NOR,Skiing,False,True,Gold,1,0,0,1,ITA,False
8,"AAMODT, Ragnhild",2008,Beijing,Handball,handball,Women,NOR,Handball,True,False,Gold,1,0,0,1,CHN,False
9,"AARDENBURG, Willemien",1988,Seoul,Hockey,hockey,Women,NED,Hockey,True,False,Bronze,0,0,1,1,KOR,False
10,"AARDEWIJN, Pepijn",1996,Atlanta,Rowing,lightweight doubles,Men,NED,Rowing,True,False,Silver,0,1,0,1,USA,False
11,"AARONES, Ann Kristin",1996,Atlanta,Football,football,Women,NOR,Football,True,False,Bronze,0,0,1,1,USA,False
12,"AAS, Roald",1960,Squaw Valley,Speed skating,1500m,M,NOR,Skating,False,True,Gold,1,0,0,1,USA,False
13,"AASLIN, Peter",1988,Calgary,Ice Hockey,ice hockey,M,SWE,Ice Hockey,False,True,Bronze,0,0,1,1,CAN,False
14,"ABAGNALE, Giovanni",2016,Rio,Rowing,coxless pair 2-,Men,ITA,Rowing,True,False,Bronze,0,0,1,1,BRA,False
15,"ABAJO, Jose Luis",2008,Beijing,Fencing,épée individual,Men,ESP,Fencing,True,False,Bronze,0,0,1,1,CHN,False
16,"ABAKAROVA, Patimat",2016,Rio,Taekwondo,- 49 kg,Women,AZE,Taekwondo,True,False,Bronze,0,0,1,1,BRA,False
17,"ABALMASAU, Aliaksei",2008,Beijing,Canoe Sprint,K-4 1000m,Men,BLR,Canoe,True,False,Gold,1,0,0,1,CHN,False
18,"ABALO, Luc",2008,Beijing,Handball,handball,Men,FRA,Handball,True,False,Gold,1,0,0,1,CHN,False
19,"ABALO, Luc",2012,London,Handball,handball,Men,FRA,Handball,True,False,Gold,1,0,0,1,UK,False
20,"ABALO, Luc",2016,Rio,Handball,handball,Men,FRA,Handball,True,False,Silver,0,1,0,1,BRA,False
21,"ABANDA, Patrice",2000,Sydney,Football,football,Men,CMR,Football,True,False,Gold,1,0,0,1,AUS,False
22,"ABARCA, Jose Maria",1996,Atlanta,Water Polo,water polo,Men,ESP,Aquatics,True,False,Gold,1,0,0,1,USA,False
23,"ABAS, Stephen",2004,Athens,Wrestling Freestyle,- 55kg,Men,USA,Wrestling,True,False,Silver,0,1,0,1,GRC,False
24,"ABASCAL, Alejandro",1980,Moscow,Sailing,flying dutchman,Men,ESP,Sailing,True,False,Gold,1,0,0,1,RUS,False
25,"ABASCAL, José Manuel",1984,Los Angeles,Athletics,1500m,Men,ESP,Athletics,True,False,Bronze,0,0,1,1,USA,False
26,"ABASSOVA, Tamilla",2004,Athens,Cycling Track,Sprint,Women,RUS,Cycling,True,False,Silver,0,1,0,1,GRC,False
27,"ABATI, Joel",2008,Beijing,Handball,handball,Men,FRA,Handball,True,False,Gold,1,0,0,1,CHN,False
28,"ABAY, Péter",1992,Barcelone,Fencing,sabre Team,Men,HUN,Fencing,True,False,Silver,0,1,0,1,ESP,False
29,"ABBAGNALE, Agostino",1988,Seoul,Rowing,quadruple sculls,Men,ITA,Rowing,True,False,Gold,1,0,0,1,KOR,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25795,"ÉRSEK, Zsolt",1988,Seoul,Fencing,foil Team,Men,HUN,Fencing,True,False,Bronze,0,0,1,1,KOR,False
25796,"ÖBERG, Carl-Göran",1964,Innsbruck,Ice Hockey,ice hockey,M,SWE,Ice Hockey,False,True,Silver,0,1,0,1,AUS,False
25797,"ÖHLING, Jens",1984,Sarajevo,Ice Hockey,ice hockey,M,SWE,Ice Hockey,False,True,Bronze,0,0,1,1,BIH,False
25798,"ÖHLING, Jens",1988,Calgary,Ice Hockey,ice hockey,M,SWE,Ice Hockey,False,True,Bronze,0,0,1,1,CAN,False
25799,"ÖHRLUND, Uno",1964,Innsbruck,Ice Hockey,ice hockey,M,SWE,Ice Hockey,False,True,Silver,0,1,0,1,AUS,False
25800,"ÖRN, Mikael",1984,Los Angeles,Swimming,4x100m freestyle,Men,SWE,Aquatics,True,False,Bronze,0,0,1,1,USA,False
25801,"ÖRNSKOG, Stefan",1994,Lillehammer,Ice Hockey,ice hockey,M,SWE,Ice Hockey,False,True,Gold,1,0,0,1,NOR,False
25802,"ÖSTBY, Einar",1960,Squaw Valley,Cross Country Skiing,4x10km relay,M,NOR,Skiing,False,True,Silver,0,1,0,1,USA,False
25803,"ÖSTERREICH, Rolf",1976,Innsbruck,Figure skating,pairs,M,GDR,Skating,False,True,Silver,0,1,0,1,AUS,False
25804,"ÖZKAN, Huseyin",2000,Sydney,Judo,60 - 66kg,Men,TUR,Judo,True,False,Gold,1,0,0,1,AUS,False
25805,"ØRSTED, Hans-Henrik",1980,Moscow,Cycling Track,Ind. Pursuit,Men,DEN,Cycling,True,False,Bronze,0,0,1,1,RUS,False
25806,"ŠIMENC, Zlatko",1964,Tokyo,Water Polo,water polo,Men,YUG,Aquatics,True,False,Silver,0,1,0,1,JPN,False
25807,"ŠKARO, Damir",1988,Seoul,Boxing,75 - 81kg,Men,YUG,Boxing,True,False,Bronze,0,0,1,1,KOR,False
25808,"ŠKODA, Jirí",1980,Moscow,Cycling Road,Team time trial,Men,TCH,Cycling,True,False,Bronze,0,0,1,1,RUS,False
25809,"ŠOLMAN, Damir",1968,Mexico,Basketball,basketball,Men,YUG,Basketball,True,False,Silver,0,1,0,1,MEX,False
25810,"ŠOLMAN, Damir",1976,Montréal,Basketball,basketball,Men,YUG,Basketball,True,False,Silver,0,1,0,1,CAN,False
25811,"ŠORM, Josef",1964,Tokyo,Volleyball,volleyball,Men,TCH,Volleyball,True,False,Silver,0,1,0,1,JPN,False
25812,"ŠREJBER, Milan",1988,Seoul,Tennis,Doubles,Men,TCH,Tennis,True,False,Bronze,0,0,1,1,KOR,False
25813,"ŠTAMBACHR, František",1980,Moscow,Football,football,Men,TCH,Football,True,False,Gold,1,0,0,1,RUS,False
25814,"ŠTRBAC, Branko",1984,Los Angeles,Handball,handball,Men,YUG,Handball,True,False,Gold,1,0,0,1,USA,False
25815,"ŠVÉDOVÁ, Ludmila",1960,Rome,Gymnastics Artistic,Team competition,Women,TCH,Gymnastics,True,False,Silver,0,1,0,1,ITA,False
25816,"ŽBOGAR, Vasilij",2004,Athens,Sailing,Laser,Men,SLO,Sailing,True,False,Bronze,0,0,1,1,GRC,False
25817,"ŽBOGAR, Vasilij",2008,Beijing,Sailing,Laser,Men,SLO,Sailing,True,False,Silver,0,1,0,1,CHN,False
25818,"ŽELEZNÝ, Jan",1988,Seoul,Athletics,javelin throw,Men,TCH,Athletics,True,False,Silver,0,1,0,1,KOR,False
25819,"ŽELEZNÝ, Jan",1992,Barcelone,Athletics,javelin throw,Men,TCH,Athletics,True,False,Gold,1,0,0,1,ESP,False
25820,"ŽELEZNÝ, Jan",1996,Atlanta,Athletics,javelin throw,Men,CZE,Athletics,True,False,Gold,1,0,0,1,USA,False
25821,"ŽELEZNÝ, Jan",2000,Sydney,Athletics,javelin throw,Men,CZE,Athletics,True,False,Gold,1,0,0,1,AUS,False
25822,"ŽIVKOVIC, Zoran",1972,Munich,Handball,handball,Men,YUG,Handball,True,False,Gold,1,0,0,1,DEU,False
25823,"ŽORGA, Aljoša",1968,Mexico,Basketball,basketball,Men,YUG,Basketball,True,False,Silver,0,1,0,1,MEX,False
25824,"ŽULPA, Robertas",1980,Moscow,Swimming,200m breaststroke,Men,URS,Aquatics,True,False,Gold,1,0,0,1,RUS,False

In [44]:
df = df[['Year', 'Host_City', 'Host_Country', 'Summer', 'Winter', 'Discipline','Sport',
              'Event', 'Ath_Name', 'Gender', 'NOC', 'Home_Adv', 'Medal', 'Gold', 'Silver', 'Bronze', 'Total_Medals']]

# Removing Team Medals and keeping only One occurance 
We're counting all team medals as one. '

In [45]:
df.columns

Index(['Year', 'Host_City', 'Host_Country', 'Summer', 'Winter', 'Discipline',
       'Sport', 'Event', 'Ath_Name', 'Gender', 'NOC', 'Home_Adv', 'Medal',
       'Gold', 'Silver', 'Bronze', 'Total_Medals'],
      dtype='object')

In [46]:
# Here we're sorting the df so we can find out which countires are podiuming together 
df= df.sort_values(by=['Host_City', 'Year', 'Summer', 'Winter', 'Gender', 'Event'], ascending=False)

In [47]:
df.head(5)

,Year,Host_City,Host_Country,Summer,Winter,Discipline,Sport,Event,Ath_Name,Gender,NOC,Home_Adv,Medal,Gold,Silver,Bronze,Total_Medals
125,2010,Vancouver,CAN,False,True,Bobsleigh,Bobsleigh,two-man,"ADJEI, Richard",M,GER,False,Silver,0,1,0,1
6153,2010,Vancouver,CAN,False,True,Bobsleigh,Bobsleigh,two-man,"FLORSCHUETZ, Thomas",M,GER,False,Silver,0,1,0,1
23873,2010,Vancouver,CAN,False,True,Bobsleigh,Bobsleigh,two-man,"VOEVODA, Alexey",M,RUS,False,Bronze,0,0,1,1
25745,2010,Vancouver,CAN,False,True,Bobsleigh,Bobsleigh,two-man,"ZUBKOV, Alexsandr",M,RUS,False,Bronze,0,0,1,1
24357,2010,Vancouver,CAN,False,True,Alpine Skiing,Skiing,super-G,"WEIBRECHT, Andrew",M,USA,False,Bronze,0,0,1,1

In [48]:
# here we're dropping all the team meaals and leaving one so the relationship will be intact
df = df.drop_duplicates(subset=['Year', 'Host_City', 'Discipline', 'Sport', 'Event', 'Medal', 'NOC'], keep='first')

In [49]:
df.to_csv(r"..\..\data\prep\Games\Games-500.csv", index=False)