# Communism

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as patches
import os.path

In [14]:
filepath = '../../data/Final/Country.csv'

In [15]:
if not os.path.exists( filepath ):
    print("Missing dataset file")
else:
    df = pd.read_csv(filepath , encoding = "ISO-8859-1")
    print("File Read")

File Read

In [16]:
df.head()

,Unnamed: 0,Country,Year,Host_City,Summer,NOC,Gold,Silver,Bronze,Total_Medals,Ath_Rating,Gold_Share,Medal_Share,Rating_Share
0,0,Afghanistan,2008,Beijing,True,AFG,0,0,1,1,1,0.000000,0.000490,0.000248
1,1,Afghanistan,2012,London,True,AFG,0,0,1,1,1,0.000000,0.000514,0.000260
2,2,Algeria,1984,Los Angeles,True,ALG,0,0,2,2,2,0.000000,0.001357,0.000680
3,3,Algeria,1992,Barcelone,True,ALG,1,0,1,2,4,0.001779,0.001168,0.001180
4,4,Algeria,1996,Atlanta,True,ALG,2,0,1,3,7,0.003252,0.001616,0.001894