In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os.path

In [2]:
# Ensure the file exists
if not os.path.exists( "Test/Uganda.csv" ):
    print("Missing dataset file")

In [5]:
df = pd.read_csv( "Test/Uganda.csv", skiprows=1  )

In [9]:
df.iloc[123]

Country Name           NaN
Country Code           NaN
Indicator Name         NaN
Indicator Code         NaN
1960                   NaN
1961                   NaN
1962                   NaN
1963                   NaN
1964                   NaN
1965                   NaN
1966                   NaN
1967                   NaN
1968                   NaN
1969                   NaN
1970                   NaN
1971                   NaN
1972                   NaN
1973                   NaN
1974                   NaN
1975                   NaN
1976                   NaN
1977                   NaN
1978                   NaN
1979                   NaN
1980                   NaN
1981                   NaN
1982                   NaN
1983                   NaN
1984                   NaN
1985                   NaN
                      ...
1989                   NaN
1990                   NaN
1991                   NaN
1992                   NaN
1993                   NaN
1994                   NaN
1995                   NaN
1996                   NaN
1997                   NaN
1998                   NaN
1999                   NaN
2000                   NaN
2001                   NaN
2002                   NaN
2003                   NaN
2004                   NaN
2005                   NaN
2006                   NaN
2007                   NaN
2008                   NaN
2009                   NaN
2010                   NaN
2011                   NaN
2012                   NaN
2013                   NaN
2014                   NaN
2015                   NaN
2016                   NaN
2017                   NaN
Unnamed: 62_level_0    NaN
Name: 123, Length: 63, dtype: object